<footer class="bg-secondary">
  <div class="container">
   <!--div class="row">
      <div class="col-md-12 col-sm-12">
        <p class="text-light text-center">
            <img src="assets/logo_magenta.png" class="img-fluid" width="50px" style="margin-top:5px" alt="">
        </p>
      </div>
    </div-->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p class="text-light text-right text-sm-center">
          ©  {{y}}. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>